<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(function() {
		// $.ajax({url:"주소or문서명", success:function(){}});
		
		$("#btn").click(function(){
			$.ajax({
				url: "ajaxOk",
				success:function(result) {
					$("#text").text(result);
				}
			})
			
		})
		
	})
</script>
</head>
<body>
<input type="button" id="btn" value="클릭">
<div id="text"></div>
</body>
</html>