<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.server_test.mapper.MemberMapper">
	<select id="useridChk" resultType="int">
		select count(*) from member
		where userid=#{userid}
	</select>
	<insert id="memberOk">
		insert into member (userid,name,pwd,writeday) 
		values (#{userid},#{name},#{pwd},now())
	</insert>
	<select id="loginOk" resultType="boolean">
		select count(*) from member
		where userid=#{userid} and pwd=#{pwd}
	</select>
</mapper>