<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" action="writeOk">
		<h2>글쓰기</h2>
		<div><input type="text" name="title" placeholder="제목"></div>
		<div>
			<input type="text" name="name" placeholder="작성자">
			<input type="password" name="pwd" placeholder="비밀번호">
		</div>
		<h4>내용</h4>
		<div><textarea name="content" placeholder="글을 작성해주세요."></textarea></div>
		<div><input type="submit" value="작성"></div>
	</form>
</body>
</html>